
@font-face {
	font-family: "raleway-regular";
	src: url("../fonts/raleway-regular.woff2") format("woff2");
	src: url("../fonts/raleway-regular.woff") format("woff");
	src: url("../fonts/raleway-regular.ttf") format("truetype");
}
/*@font-face {
	font-family: "raleway-medium";
	src: url("../fonts/raleway-medium.woff2") format("woff2");
	src: url("../fonts/raleway-medium.woff") format("woff");
	src: url("../fonts/raleway-medium.ttf") format("truetype");
}*/

/*--------Colors------------
Black		#000		rgb(0, 0, 0)
White		#FFFEEC		rgb(255, 254, 236)
Blue 		#166187		rgb(22, 97, 135)
Pink		#C91E90		rgb(201, 30, 144)
Yellow		#E3C91E		rgb(227, 201, 30)
Grey		#A19892		rgb(161, 152, 146)
Green		#678585		rgb(103, 133, 21)
*/

:root {
	--blue: #166187;
}

/*Test stage*/
header {
	background-color: var(--blue);
	width: 100%;
	height: 150px;
}


/* GLOBAL
-----------------------------*/
main, article, header, nav, section, aside, footer {
	display: block;
}

body {
	
}

.flexbox {
	display: flex;
	flex-flow: wrap;
}

/* FONT DECLARATIONS 
-------------------------------*/

body {
	font-family: "raleway-regular", helvetica, sans-serif;
}


/* HEADER AND NAVIGATION
-------------------------------*/


/* CTA AREA
(home page)
-------------------------------*/




/*DESKTOP STYLES
----------------------------------------*/
@media screen and (min-width: 801px) {
	
}

/*TABLET STYLES
----------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 800px) {
	
}

/*MOBILE STYLES
----------------------------------------*/
@media screen and (max-width: 480px) {

	/*article#pop-tours section,
	article#discover,
	article#reviews,
	aside#social {
		min-width: 90%;
	}*/

	

	
}