@font-face {
	font-family: "happymonkey-regular";
	src: url("../fonts/happymonkey-regular.woff2") format("woff2");
	src: url("../fonts/happymonkey-regular.woff") format("woff");
	src: url("../fonts/happymonkey-regular.ttf") format("truetype");
}
@font-face {
	font-family: "raleway-regular";
	src: url("../fonts/raleway-regular.woff2") format("woff2");
	src: url("../fonts/raleway-regular.woff") format("woff");
	src: url("../fonts/raleway-regular.ttf") format("truetype");
}
/*@font-face {
	font-family: "raleway-medium";
	src: url("../fonts/raleway-medium.woff2") format("woff2");
	src: url("../fonts/raleway-medium.woff") format("woff");
	src: url("../fonts/raleway-medium.ttf") format("truetype");
}*/

/*--------Colors------------
Black		#000		rgb(0, 0, 0)
White		#FFFEEC		rgb(255, 254, 236)
Blue 		#166187		rgb(22, 97, 135)
Pink		#C91E90		rgb(201, 30, 144)
Yellow		#E3C91E		rgb(227, 201, 30)
Grey		#A19892		rgb(161, 152, 146)
Green		#678515		rgb(103, 133, 21)
------------------------------*/

/*
TO DO:

- Work on newsletter section

*/

/*Test stage*/



/* GLOBAL
-----------------------------*/
main, article, header, nav, section, aside, footer {
	display: block;
}

body {
	background-color: #000;
	margin: 0;
	font-size: 14px;
	/*background-color: white;*/
}

#page-container {
	margin: 0 auto;
	max-width: 1200px;
	overflow: hidden;
	/*border: 1px dashed red;*/
}
#page-section {
	/*width: 100%;*/
}

p {
	/*border: 1px dashed red;*/
}

h2 {
	font-size: 2em;
	color: #FFFEEC;
}

h3 {
	font-size: 1.4em;
}

footer p {
	font-size: 12px;
	margin-top: 0;
}
a {
	text-decoration: none;
	color: #FFFEEC;
	/*display: block;*/
	/*border: 1px dotted yellow;*/
}

header ul,
footer ul {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

.texture {
	background-image: url("../images/texture_1600.jpg");
	/* background-repeat: no-repeat; */

}

.img-trapezoid {
	background-repeat: no-repeat;
	position: relative;
	width: 355px;	
}

.flexbox {
	display: flex;
	flex-flow: row wrap;
}

.nowrap {
	flex-flow: nowrap;
}

.column {
	flex-direction: column;
}

/* Forms */

form label {
	width: 50px;
	display: inline-block;
	text-align: right;
	float: left;
	clear: left;
	margin-right: 5px;
}

form input[type="text"],
form input[type="email"] {
	font-size: .8em;
	margin-bottom: 5px;
	float: left;
	/*margin-left: 5px;*/


}

/* ---- Arrow shaped sections ---- */

.container-arrow-section {
	overflow: hidden;
	flex-wrap: nowrap;
	width: 85%;
	/*border: 1px dotted white;*/
}
.container-arrow-section + * {
	width: 15%;
	height: 350px;
}
.container-arrow-section + .column > * {
	height: 175px;
}
.main-arrow-section {
	width: 100%;
	height: 350px;
	background-color: inherit;
}
.tip-arrow-section {
	border-color: inherit;
	flex-wrap: nowrap;
	flex-direction: column;
	/*border: 1px dotted yellow;*/
}
.top-right-arrow-section {
	height: 0;
	width: 0;
	border-bottom-width: 175px;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	border-right: 175px solid #000;
	/*border: 1px dotted red;*/
}
.bottom-right-arrow-section {
	height: 0;
	width: 0;
	border-top-width: 175px;
	border-top-style: solid;
	border-top-color: inherit;
	border-right: 175px solid #000;
}
.bottom-left-arrow-section {
	height: 0;
	width: 0;
	border-top-width: 175px;
	border-top-style: solid;
	border-top-color: inherit;
	border-left: 175px solid #000;
	/*border: 1px dotted red;*/
}
.top-left-arrow-section {
	height: 0;
	width: 0;
	border-bottom-width: 175px;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	border-left: 175px solid #000;
}

/* FONT DECLARATIONS 
-------------------------------*/

body {
	font-family: "raleway-regular", helvetica, sans-serif;
}

h1, h2, h3, header ul, footer ul, a, form label, #hero-img, #newsletter input[type="submit"] {

	font-family: "happymonkey-regular", arial, sans-serif;
}


/* HEADER AND NAVIGATION
-------------------------------------------------------------------------------*/
#container-page-header {
	background-position: -200px -80px;
}

#page-header {
	position: relative;
	background-color: #166187;
	background-color: rgba(22, 97, 135, 0.98);
	width: 100%;
	height: 150px;
	/*border: 1px dotted White;*/
}

#page-header h1 {
	position: absolute;
	left: -9000px;		/*Hide headline from screen*/
}

header #logo {
	/*border: 1px solid yellow;*/
	width: 220px;
	height: 150px;
	background-image: url("../images/logo/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-left: 10px;

}

#page-header-right {	/*The black top right section of header*/
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 180px;
	height: 150px;
	background-color: #000;
	/*border: 1px dotted pink;*/
}

#page-header-right::before { /*Using border to create a black triangle before the div*/
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	right: 180px;
	border-bottom: 150px solid #000;
	border-left: 150px solid transparent;
	
}
/* Navigation */

nav ul {
	padding-left: 0;
	list-style-type: none;
	color: #FFFEEC;
}

#main-navigation {
	margin-top: 10px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 250px;
	width: 210px;
}

#main-navigation ul {
	position: relative;
	z-index: 3;			/*Makes sure the UL is stacked on top of the next div*/
	font-size: 16px;
	color: #FFFEEC;
	/*border: 1px solid yellow;*/
}

nav ul li {
	/*border: 1px dotted pink;*/
	position: relative;
	width: 120px;
	margin-bottom: 5px;
}

nav ul li:last-child {
	margin-bottom: 0;
}

/* Pushing the menu buttons towards the right */
#main-navigation ul li:first-child {
	left: 102px;
}
#main-navigation ul li:nth-child(2) {
	left: 68px;
}
#main-navigation ul li:nth-child(3) {
	left: 34px;
}

/* 'Get involved' and 'About us' nav */
#right-hand-navigation {
	/*border: 1px solid yellow;*/
}

#right-hand-navigation ul {
	margin: 20px 0 0 20px;
	/*margin-top: 20px;*/
	font-size: 10px;
}

#right-hand-navigation ul li {
	display: inline;
}
#right-hand-navigation ul li:first-child {
	margin-right: 20px;
}
#right-hand-navigation ul li:first-child a {
	color: #E3C91E;
}

#right-hand-navigation a:hover {
	text-decoration: underline;
}


/* Menu buttons */
.btn-border {	/* a container element for the menu buttons, which will act as the border on hover*/
	height: 25px;
	position: relative;
	border: 1px solid transparent;
	border-bottom: 1px solid #FFFEEC;

}

.btn-border::after {	/* creates a triangle shape after the button container*/
	content: "";
	z-index: 1;
	position: absolute;
	width: 0;
	height: 0;
	top: -1px;
	right: -27px;
	border-top: 26px solid transparent;
	border-right: 26px solid transparent;
}

.btn {
	border: 1px solid transparent;
  	position: relative;
  	padding-top: 1px;
  	height: 23px;
  }

.btn::after {	/*creates a triangle shape after the button, which will hide the shape of the container*/
	content: "";
	z-index: 2;
	position: absolute;
	width: 0;
	height: 0;
	top: -1px;
	right: -25px;
	border-top: 25px solid #166187;
	border-right: 25px solid transparent;
}
#page-header-right a {
	position: relative;
}
#tickets-btn {
	position: relative;
	left: -40px;
	display: inline-block;
	margin-top: 45px;
	padding: 10px 5px 5px 5px; 
	width: 120px;
	height: 25px;
	background-color: #C91E90;
	text-align: center;
	color: #FFFEEC;
	text-transform: uppercase;
}
#tickets-btn::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	right: -40px;
	border-bottom: 40px solid #C91E90;
	border-right: 40px solid transparent;
}

/* Hover and active states */

.btn-border:hover {
	border: 1px solid #FFFEEC;
}
.btn-border:hover::after {
	border-top-color: #FFFEEC;
}
.btn:active {
	background-color: #FFFEEC;
	color: #000;
}
.btn:active::after {
	border-top-color: #FFFEEC;
}

#tickets-btn:hover {
	background-color: #E3C91E;
	color: #000;
}
#tickets-btn:hover::after {
	border-bottom-color: #E3C91E;
}


/*------------------------------------------------------------------------------------------
 CTA AREA
(home page)
-------------------------------------------------------------------------------------------*/
#hero-img {
	margin: 0 auto;
	max-width: 1200px;
	min-height: 900px;
	position: relative;
	background: url("../images/hero-image_1200.jpg") center no-repeat;
	/*background-size: cover;*/
	/*border: 1px dotted yellow;*/
}


#slogan {
	position: absolute;
	bottom: 10px;
	left: 37%;
	display: inline-block;
	font-size: 1.8em;
	font-weight: bold;
	/*border: 1px dotted yellow;*/
}
#slogan span {
	display: inline-block;

}
#slogan span:first-of-type {
	color: #FFFEEC;
}
#slogan span:last-of-type {
	color: #C91E90;
}
#slogan .trapezoid:first-child {
	background-color: #FFFEEC;
	float: right;
	margin-top: 7px;
	/* display: inline-block; */
	width: 4.5em;
	height: .7em;
	
}
#slogan .trapezoid:first-child::after {
	content: "";
	position: relative;
	width: 0;
	height: 0;
	top: .72em;
	left: 4.5em;
	border-top: .72em solid #FFFEEC;
	border-right: .72em solid transparent;
}
#slogan .trapezoid:last-child {
	background-color: #C91E90;
	float: left;
	margin-top: 7px;
	margin-right: .2em;
	/* display: inline-block; */
	width: 3.85em;
	height: .7em;
	
}
#slogan .trapezoid:last-child::before {
	content: "";
	position: relative;
	width: 0;
	height: 0;
	top: -1.24em;
	left: -0.7em;
	border-bottom: .72em solid #C91E90;
	border-left: .72em solid transparent;
}

/* NEWS SECTION
	Home page
------------------------------------------------------------------------------------------*/
#latest-news {
	background-position: -300px -40px;
	border-color: #166187;
	border-color: rgba(22, 97, 135, 0.96);
	background-color: #166187;
	background-color: rgba(22, 97, 135, 0.96);
}

#latest-news h2 {
text-align: center;
margin: 5px 0;
}
/* News article boxes */
#news-article-wrapper {
	position: relative;
}
.news-article {
	background-color: #FFFEEC;
	margin: 0 auto;
	width: 35%;
	height: 280px;
	font-size: 12px;

}

.news-article:first-child {
	margin-right: 0; 
}

#more-news {
	position: absolute;
	right: -100px;
	top: 115px;
	height: 20px;
	padding: 5px;
}
#more-news a:hover {
	text-decoration: underline;
}

 .news-article h3 {
	 text-align: center;
	 margin: 10px 0;
	 color: #166187;
	 /* border: 1px dotted green; */
 }
.news-article p {
	width: 90%;
	margin: 0 auto;
}


.news-article img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	/* border: 1px dotted cyan; */
}

#opening-hours {
	color: #FFFEEC;	
}
#opening-hours h2 {
	position: relative;
	color: #166187;
	left: -100px;
	line-height: 0;
}
#opening-hours table {
	width: 120%;
}
#opening-hours table tr {
	display: block;
	position: relative;
	left: -70px;
	width: 130%;
}
#opening-hours table th {
	width: 80px;
	text-align: right;
}

#opening-hours + .img-trapezoid {
	background-image: url("../images/vr-guy_grey_355.png");
	right: 175px;
}

/* INFO BLURB SECTION
	Home page
------------------------------------------------------------------------------------------*/
#info-blurb {
	background-size: cover;
	border-color: #678515;
	border-color: rgba(103, 133, 21, 0.96);
	background-color: #678515;
	background-color: rgba(103, 133, 21, 0.96);
	order: 2;
}
#info-blurb + * {
	order: 1;
}
#newsletter {
	order: 2;
}

#info-blurb .main-arrow-section::before {
	content: url("../images/math-girl_yellow_355.png");
	position: absolute;
	margin-left: -355px;	/* Keeping the picture of the girl responsive with the green arrow section */
}

/* Newsletter area */

#newsletter {
	position: relative;
	color: #FFFEEC;

}
#newsletter header {
	/* padding-top: 0; */
	
}

#newsletter h2 {
	margin: -35px 0 10px 0;
	text-align: center;
}
#newsletter p {
	font-size: 14px; 
	margin: 5px 0 0 5px;
	width: 106.5%;
}

#newsletter form {
	
	font-size: 14px;
	display: block;
	margin: 10px 0 0 5px;
	width: 150%;
	overflow: hidden;

}

/* Submit button */
#newsletter input[type="submit"] {
	position: absolute;
	bottom: 10px;
	right: -115px;
	background-color: #E3C91E;
	height: 30px;
	padding: 5px 10px;
	border: 0;
}



/* FOOTER
-------------------------------------------------------------------------------------------*/
#page-footer {
	flex-wrap: nowrap;
	width: 100%;
	/*border: 1px dotted red;*/
}
#page-footer .container-arrow-section {
	background-position: -300px -40px;
	background-color: #A19892;
	background-color: rgba(161, 152, 146, 0.96);
	border-color: #A19892;
	border-color: rgba(161, 152, 146, 0.96);
	color: #000;
	/*border: 1px dashed pink;*/
}


footer ul li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 8px;
	font-size: 14px;
	/*border: 1px solid yellow;*/
}

footer ul li:last-child {
	margin-right: 0;
}

footer li a {
	color: #166187;
}

footer li a:hover {
	text-decoration: underline;
}


#social-links ul {
	margin: 50px auto 20px auto;
	/*display: inline-block;*/
	/*border: 1px dotted red;*/
}
#social-links li {
	margin: 0;
	
}
#social-links li div:last-child {
	/*position: relative;*/
	width: 80px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: contain;
	/*border: 1px dotted yellow;*/
}

/* Triangular social buttons */

#social-btn-mail {
	background-image: url("../images/icons/social_mail.png");
}
#social-btn-facebook {
	background-image: url("../images/icons/social_facebook.png");
}
#social-btn-instagram {
	background-image: url("../images/icons/social_instagram.png");	
}
#social-btn-linkedin {
	background-image: url("../images/icons/social_linkedin.png");
}
#social-btn-twitter {
	background-image: url("../images/icons/social_twitter.png");
}

#social-btn-mail:hover {
	background-image: url("../images/icons/social_mail_hover.png");	
}
#social-btn-facebook:hover {
	background-image: url("../images/icons/social_facebook_hover.png");	
}
#social-btn-instagram:hover {
	background-image: url("../images/icons/social_instagram_hover.png");	
}
#social-btn-linkedin:hover {
	background-image: url("../images/icons/social_linkedin_hover.png");	
}
#social-btn-twitter:hover {
	background-image: url("../images/icons/social_twitter_hover.png");	
}

#social-btn-mail:active {
	background-image: url("../images/icons/social_mail_active.png");	
}
#social-btn-facebook:active {
	background-image: url("../images/icons/social_facebook_active.png");	
}
#social-btn-instagram:active {
	background-image: url("../images/icons/social_instagram_active.png");	
}
#social-btn-linkedin:active {
	background-image: url("../images/icons/social_linkedin_active.png");	
}
#social-btn-twitter:active {
	background-image: url("../images/icons/social_twitter_active.png");	
}

#contact-info {
	display: inline-block;
	margin: 0 auto;
	width: 200px;
}
#copyright {
	text-align: center;
	
	
}
#copyright p {
	font-size: 0.8em;
	display: inline-block;
	margin-left: 5px;
}

#page-footer-right {
	
}

/*DESKTOP STYLES
----------------------------------------*/
@media screen and (min-width: 801px) {
	
}

/*TABLET STYLES
----------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 800px) {
	body {
		border: 4px solid orange;
	}
}

/*MOBILE STYLES
----------------------------------------*/
@media screen and (max-width: 480px) {

	/*article#pop-tours section,
	article#discover,
	article#reviews,
	aside#social {
		min-width: 90%;
	}*/

	

	
}